.dashboard {
  display: flex;
  height: 100vh;
  font-family: Arial;
}

/* Left Sidebar */
.sidebar {
  width: 120px;
  background: #f0f0f0;
  padding: 20px;
}

.add-btn {
  padding: 10px;
  border: 2px solid black;
  background: white;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  font-weight: bold;
}

/* Main content */
.main {
  flex: 1;
  padding: 20px;
}

/* Summary Cards */
.summary {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  padding: 20px;
  width: 180px;
  border: 2px solid blue;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.yellow { background: #ffd633; }
.green { background: #33dd66; }
.red   { background: #ff4444; }

/* Table */
.job-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 12px;
}

.job-table th {
  color: #1e6fec;
  text-align: left;
  padding-bottom: 10px;
  font-size: 18px;
}

.job-table td {
  background: #ffeb66;
  padding: 15px;
  border-radius: 6px;
}

/* Buttons */
.notes-btn {
  padding: 5px 12px;
  background: #ffd633;
  border: 2px solid blue;
  cursor: pointer;
  border-radius: 6px;
}

.update-btn {
  background: #66ccff;
  border: none;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 6px;
}

.delete-btn {
  background: #ff6666;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 6px;
}
